$global-background-color-light: #FFFFFF;
$global-background-color-dark: #1E1E1E;

$global-font-color-light: rgb(207, 207, 207);
$global-font-color-dark: rgb(0, 0, 0, .8);
$global-font-color-link: #0064A8;

$global-font-color-hover: #a03000;

$global-font-weight-title: 700;
$global-font-weight-paragraph: 400;

$global-font-size-heading: 45px;
$global-font-size-sub-heading: 27px;
$global-font-size-paragraph: 18px;
$global-font-size-sub-paragraph: 14.5px;

$global-font-height-heading: 52px;
$global-font-height-sub-heading: 36px;
$global-font-height-paragraph: 27px;
$global-font-height-paragraph-title: 18px;
$global-font-height-sub-paragraph: 21.5px;

$global-text-decoration-line: underline;
$global-text-decoration-style: solid;
$global-text-decoration-color-light: rgba(255, 255, 255, 0.2);
$global-text-decoration-color-dark: rgba(0, 0, 0, 0.2);
$global-text-decoration-thickness: .5px;

$global-mobile-font-size-heading: 45px;
$global-mobile-font-size-sub-heading: 27px;
$global-mobile-font-size-paragraph: 16px;
$global-mobile-font-size-sub-paragraph: 12.8px;

$global-mobile-font-height-heading: 52px;
$global-mobile-font-height-sub-heading: 36px;
$global-mobile-font-height-paragraph: 24px;
$global-mobile-font-height-paragraph-title: 16px;
$global-mobile-font-height-sub-paragraph: 21.5px;
