@import "src/app";

$layout-min-height: calc(100vh - 198px);
$layout-mobile-min-height: calc(100vh - 184px);

.main {
  width: 100%;
  min-height: calc(100vh - 54px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .content {
    width: 100%;
    min-height: $layout-min-height;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media (max-width: 1340px) {
  .main {
    min-height: calc(100vh - 48px);

    .content {
      min-height: $layout-mobile-min-height;
    }
  }
}
