$global-background-color-light: #FFFFFF;
$global-background-color-dark: #1E1E1E;

$global-font-color-light: rgb(207, 207, 207);
$global-font-color-dark: rgb(0, 0, 0, .8);
$global-font-color-link: #0064A8;

$global-font-color-hover: #a03000;

$global-font-weight-title: 700;
$global-font-weight-paragraph: 400;

$global-font-size-heading: 45px;
$global-font-size-sub-heading: 27px;
$global-font-size-paragraph: 18px;
$global-font-size-sub-paragraph: 14.5px;

$global-font-height-heading: 52px;
$global-font-height-sub-heading: 36px;
$global-font-height-paragraph: 27px;
$global-font-height-paragraph-title: 18px;
$global-font-height-sub-paragraph: 21.5px;

$global-text-decoration-line: underline;
$global-text-decoration-style: solid;
$global-text-decoration-color-light: rgba(255, 255, 255, 0.2);
$global-text-decoration-color-dark: rgba(0, 0, 0, 0.2);
$global-text-decoration-thickness: .5px;

$global-mobile-font-size-heading: 45px;
$global-mobile-font-size-sub-heading: 27px;
$global-mobile-font-size-paragraph: 16px;
$global-mobile-font-size-sub-paragraph: 12.8px;

$global-mobile-font-height-heading: 52px;
$global-mobile-font-height-sub-heading: 36px;
$global-mobile-font-height-paragraph: 24px;
$global-mobile-font-height-paragraph-title: 16px;
$global-mobile-font-height-sub-paragraph: 21.5px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SF Pro Display', sans-serif;
  background-color: $global-background-color-light;

  .text-decoration {
    text-decoration-line: $global-text-decoration-line;
    text-decoration-style: $global-text-decoration-style;
    text-decoration-color: $global-text-decoration-color-dark;
    text-decoration-thickness: $global-text-decoration-thickness;
  }

  .heading {
    font-size: $global-font-size-heading;
    font-weight: $global-font-weight-title;
    color: $global-font-color-dark;
    line-height: $global-font-height-heading;
  }

  .sub-heading {
    font-size: $global-font-size-sub-heading;
    font-weight: $global-font-weight-title;
    color: $global-font-color-dark;
    line-height: $global-font-height-sub-heading;
    @extend .text-decoration;
  }

  .paragraph-title {
    font-size: $global-font-size-paragraph;
    font-weight: $global-font-weight-title;
    color: $global-font-color-dark;
    line-height: $global-font-height-paragraph-title;
  }

  .paragraph-title-link {
    font-size: $global-font-size-paragraph;
    font-weight: $global-font-weight-title;
    color: $global-font-color-dark;
    line-height: $global-font-height-paragraph-title;
    @extend .text-decoration;

    &:hover {
      color: $global-font-color-hover !important;
      text-decoration-color: $global-font-color-hover !important;
    }
  }

  .paragraph {
    font-size: $global-font-size-paragraph;
    font-weight: $global-font-weight-paragraph;
    color: $global-font-color-dark;
    line-height: $global-font-height-paragraph;
    letter-spacing: 1px;
  }

  .link {
    font-size: $global-font-size-paragraph;
    font-weight: $global-font-weight-paragraph;
    line-height: $global-font-height-paragraph;
    color: $global-font-color-link;
    letter-spacing: 1px;
    cursor: pointer;

    @extend .text-decoration;
    text-decoration-color: $global-font-color-link;

    &:hover {
      color: $global-font-color-hover;
      text-decoration-color: $global-font-color-hover;
    }
  }

  .link-active {
    font-size: $global-font-size-paragraph;
    font-weight: $global-font-weight-paragraph;
    line-height: $global-font-height-paragraph;
    color: $global-font-color-dark;
    letter-spacing: 1px;
    cursor: pointer;

    @extend .text-decoration;

    &:hover {
      color: $global-font-color-hover;
      text-decoration-color: $global-font-color-hover;
    }
  }

  .sub-paragraph {
    font-size: $global-font-size-sub-paragraph;
    font-weight: $global-font-weight-paragraph;
    color: $global-font-color-dark;
    line-height: $global-font-height-sub-paragraph;
  }

  .sub-paragraph-link {
    font-size: $global-font-size-sub-paragraph;
    font-weight: $global-font-weight-paragraph;
    color: $global-font-color-dark;
    line-height: $global-font-height-sub-paragraph;
    @extend .text-decoration;
    cursor: pointer;

    &:hover {
      color: $global-font-color-hover;
      text-decoration-color: $global-font-color-hover;
    }
  }
}

/* Mobile */
@media (max-width: 1340px) {
  .heading {
    font-size: $global-mobile-font-size-heading;
    line-height: $global-mobile-font-height-heading;
  }

  .sub-heading {
    font-size: $global-mobile-font-size-sub-heading;
    line-height: $global-mobile-font-height-sub-heading;
  }

  .paragraph-title {
    font-size: $global-mobile-font-size-paragraph;
    line-height: $global-mobile-font-height-paragraph-title;
  }

  .paragraph-title-link {
    font-size: $global-mobile-font-size-paragraph;
    line-height: $global-mobile-font-height-paragraph-title;
  }

  .paragraph {
    font-size: $global-mobile-font-size-paragraph;
    line-height: $global-mobile-font-height-paragraph;
  }

  .link {
    font-size: $global-mobile-font-size-paragraph;
    line-height: $global-mobile-font-height-paragraph;
  }

  .link-active {
    font-size: $global-mobile-font-size-paragraph;
    line-height: $global-mobile-font-height-paragraph;
  }

  .sub-paragraph {
    font-size: $global-mobile-font-size-sub-paragraph;
    line-height: $global-mobile-font-height-sub-paragraph;
  }

  .sub-paragraph-link {
    font-size: $global-mobile-font-size-sub-paragraph;
    line-height: $global-mobile-font-height-sub-paragraph;
  }
}

/* Light mode */
@media (prefers-color-scheme: light) {
  * {
    background-color: $global-background-color-light;

    .heading, .sub-heading, .paragraph-title, .paragraph, .link-active, .sub-paragraph, .sub-paragraph-link {
      color: $global-font-color-dark;
      text-decoration-color: $global-text-decoration-color-dark;
    }

    li {
      color: $global-font-color-dark;
    }
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  * {
    background-color: $global-background-color-dark;

    .heading, .sub-heading, .paragraph-title, .paragraph, .link-active, .sub-paragraph, .sub-paragraph-link {
      color: $global-font-color-light;
      text-decoration-color: $global-text-decoration-color-light;
    }

    li {
      color: $global-font-color-light;
    }
  }
}
